@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #030345;
    width: 300px;
    height: auto;
    display: block;
    border: solid #ffb800;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-bottom: 15px;
}

*:focus {
    outline: none;
}

.extensionEnable {
    margin-top: 17px;
    text-align: center;
}

.titleText {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f2c45;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #ffb800;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #ffb800;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.smallSwitch {
    width: 40px;
    height: 20px;
}

.smallSlider:before {
    height: 13px;
    width: 13px;
}

input:checked + .smallSlider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.otherSettings {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    border-top: #ffb800 solid;
    padding-top: 10px;
}

.settingsItem {
    margin-top: 5px;
    display: inline-block;
}

.setTitle {
    float: left;
    margin-right: 55px;
    font-size: 15px;
    font-weight: bold;
}

.loginInput {
    margin-top: 20px;
}

.loginInput input {
    width: 120px;
    height: 22px;
    display: inline-block;
    border-radius: 7px;
    margin-bottom: 5px;
    border: medium none;
    text-align: center;
}

.loginInput label {
    margin-right: 50px;
    font-weight: 900;
}

#submit {
    margin-top: 10px;
    width: 100%;
    height: 25px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    font-weight: 600;
}

#submit:hover {
    background-color: #c2c2c2;
}

#submit:active {
    background-color: #9e9e9e;
}

.container {
    display: none;
}